<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium Suite">

<listeners>
	<listener class-name="utils.ExtentReportManager"/>
</listeners>
    <test name="Login Test">
        <classes>
            <class name="tests.OrderTest"/>
        </classes>
    </test>
    <test name="WebView Test">
        <classes>
            <class name="tests.WebViewTest"/>
        </classes>
    </test>
</suite>
